{%  extends 'base.html' %}

{% block heading %}Category{% endblock %}

{% block main %}
<table class="words-table">
        <thead>
            <tr>
                <th>Maori Word</th>
                <th>English Word</th>
                <th>Image</th>
                {% if teacher %}
                <th>Delete Word</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for word in words %}
            <div class = words-box>
            <tr>
                <td><a href="/word/{{ word[4] }}">{{ word[0] }}</a></td>
                <td>{{ word[1] }}</td>
                <td width="150"><img src="/static/images/{{ word[6] }}.jpg" alt=""></td>
                {% if teacher %}
                <td><a href="/removeword/{{ word[4] }}">x</a></td>
                {% endif %}
            </tr>
            </div>
        {% endfor %}
    </tbody>
</table>

{% if teacher %}
 <form class="dataForm" method="post">
     <div class="form-group">
        <div class="form-label">Maori Word:</div>
        <div class="form-element"><input type="text" name="maori_word" id="maori_word" required></div>
     </div>
     <div class="form-group">
        <div class="form-label">English Word:</div>
        <div class="form-element"><input type="text" name="english_word" id="english_word" required></div>
     </div>
     <div class="form-group">
        <div class="form-label">Level:</div>
        <div class="form-element"><input type="number" name="level" id="level" required></div>
     </div>
     <div class="form-group">
        <div class="form-label">Definition:</div>
        <div class="form-element"><input type="text" name="definition" id="definition" required></div>
     </div>
     <div class="button-group">
        <div class="form-label"></div>
        <div class="button-group"><input type="submit" value="Add"></div>
    </div>
 </form>
<a href="/confirmremovecategory/{{category}}">DELETE THE CATEGORY</a>
{% endif %}
{% endblock %}