{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
<p>Kia Ora, {{ session.first_name }} welcome to Ben Scott's Maōri - English Dictionary!</p>
{% if teacher %}
<p>Because you are a <strong>teacher</strong> you have the ability to create, delete and edit words as well as create and delete categories</p>
<form class="dataForm" method="POST" >
    <div class="form-group">
        <div class="form-label">Category:</div>
        <div class="form-element"><input type="category" name="category" id="category" required></div>
    </div>
    <div class="button-group">
        <div class="form-label"></div>
        <div class="button-group"><input type="submit" value="Add"></div>
    </div>
</form>
{% endif %}
{% endblock %}

<body>
<div class="container">
     <nav>
         <a href="/">home</a>
     </nav>
</div>
</body>

